<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body>
  <div class="cabecalho">
    <a href="/"><img src="./public/assets/logo.png" style="width: 200px;" class="logo" alt="logomarca do sistema de monitoramento do câncer de boca"></a>
    <div class="menu">
      <ul>
        <li><a href="/dashboard" >Dashboard</a></li> 
        <li><a href="/pacientes" class="destaque">Pacientes</a></li>
        <li><a href="/mapa-interativo">Mapa Interativo</a></li>
      </ul>
    </div>
    <a href="/usuario"><img src="./public/assets/acesso-ao-perfil.png" class="perfil" alt="acesso ao perfil"></a>
  </div>
  <div class="tabela">
    <div class="busca">
      <form action="" method="get">
        <label>
          <input type="text" placeholder="Nomes, CPF, Telefone..." name="busca" class="campo">
          <button type="submit" class="butaum">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 30 30"><path d="M 13 3 C 7.4886661 3 3 7.4886661 3 13 C 3 18.511334 7.4886661 23 13 23 C 15.396652 23 17.59741 22.148942 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148942 17.59741 23 15.396652 23 13 C 23 7.4886661 18.511334 3 13 3 z M 13 5 C 17.430666 5 21 8.5693339 21 13 C 21 17.430666 17.430666 21 13 21 C 8.5693339 21 5 17.430666 5 13 C 5 8.5693339 8.5693339 5 13 5 z"></path></svg>
          </button>
        </label>
      </form>
    </div>
    <table style="width: 100%;">
      <tr class="linha1">
        <th style="width: 12%;">Nome do Paciente</th>
        <th style="width: 12%;">CPF</th>
        <th style="width: 12%;">Data de Nascimento</th>
        <th style="width: 14%;">Telefone celular</th>
        <th>Sexo</th>
        <th>Está fumante</th>
        <th>Faz uso de álcool</th>
        <th>Está em Situação de rua</th>
        <th>Editar</th>
      </tr>
      {{range .Pacientes}}
      <tr>
        <td>{{.Nome}}</td>
        <td>{{.Cpf}}</td>
        <td>{{.DataNascimento}} ({{.Idade}})</td>
        <td>{{.Telefone}}</td>
        <td>{{.Sexo}}</td>
        {{if .EstaFumante}}
        <td>✅</td>
        {{else}}
        <td>❌</td>
        {{end}}
        {{if .FazUsoAlcool}}
        <td>✅</td>
        {{else}}
        <td>❌</td>
        {{end}}
        {{if .EstaSituacaoDeRua}}
        <td>✅</td>
        {{else}}
        <td>❌</td>
        {{end}}
        <td><a href="/editar">✏️</a></td>
      </tr>
      {{end}}
    </table>
  </div>
</body>
</html>
