 {
    box-sizing: border-box;
  }
  body {
    height: 100%;
    background-color: rgba(192,226,250,1);
  }
  .logo {
    top: 10px;
    left: 10px;
    transition: background-color 300ms;
}
  .fundoMenor {
    width: 100%;
    height: 608px;
    background: rgba(175,196,211,1);
    opacity: 1;
    position: absolute;
    top: 87px;
    left: 76px;
}
  .fundoNao {
    width: 280px;
    height: 44px;
    background: rgba(179,170,255,1);
    opacity: 1;
    position: absolute;
    top: 162px;
    left: 140px;
    overflow: hidden;
  }
  .NaoAoCancer {
    width: 233px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 161px;
    left: 164px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .texto01 {
    width: 800px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 222px;
    left: 106px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .texto02 {
    width: 524px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 283px;
    left: 158px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 27px;
    opacity: 1;
    text-align: left;
  }
  .soluçoes {
    width: 116px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 26px;
    left: 487px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 27px;
    opacity: 1;
    text-align: left;
  }
  .sobre {
    width: 75px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 26px;
    left: 716px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 27px;
    opacity: 1;
    text-align: left;
  }
  .QuemSomos {
    width: 200px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 26px;
    left: 920px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 27px;
    opacity: 1;
    text-align: left;
  }
  .PosiçaoBotao {
    width: 249px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 553px;
    left: 262px;
    overflow: hidden;
  }
  
  button {
    width: 150px;
    height: 50px;
    background: rgb(78, 80, 87);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 100px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff
  }
  .PosiçaoBotao2 { 
    width: 183px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 1353px;
    overflow: hidden;
  }
  .login{
    width: 200px;
    height: 50px;
    background: rgb(78, 80, 87);
    opacity: 1;
    position: relative;
    top: 10px;
    left: 0px;
    border-radius: 100px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff
  }
