* {
    box-sizing: border-box;
  }
  body {
    height: 100%;
    background: rgba(192,226,250,1);
  }
  .logo {
    top: 10px;
    left: 10px;
    transition: background-color 300ms;
}
button{
  width: 150px;
    height: 50px;
    background: rgb(78, 80, 87);
    opacity: 1;
    position: relative;
    top: 10px;
    left: 0 px;
    border-radius: 100px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff
}
  .v435_1326 {
    width: 100%;
    height: 780px;
    background: url("../images/v435_1326.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v435_1173 {
    width: 100%;
    height: 782px;
    background: rgba(192,226,250,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v435_1174 {
    width: 100%;
    height: 650px;
    background: rgba(175,196,211,1);
    opacity: 1;
    position: absolute;
    top: 87px;
    left: 61px;
    overflow: hidden;
    
  }
  .v500_146 {
    width: 334px;
    height: 44px;
    background: rgba(179,170,255,1);
    opacity: 1;
    position: absolute;
    top: 128px;
    left: 162px;
    overflow: hidden;
  }
  .v500_142 {
    width: 334px;
    height: 44px;
    background: rgba(179,170,255,1);
    opacity: 1;
    position: absolute;
    top: 447px;
    left: 926px;
  }
  .v500_145 {
    width: 334px;
    height: 44px;
    background: rgba(179,170,255,1);
    opacity: 1;
    position: absolute;
    top: 128px;
    left: 926px;
  }
  .v435_1383 {
    width: 242px;
    height: 44px;
    background: rgba(179,170,255,1);
    opacity: 1;
    position: absolute;
    top: 530px;
    left: 244px;
    overflow: hidden;
  }
  .v435_1384 {
    width: 233px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 529px;
    left: 244px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v435_1175 {
    width: 326px;
    height: 60px;
    background: url("../images/v435_1175.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 13px;
    overflow: hidden;
  }
  .v435_1417 {
    width: 183px;
    height: 60px;
    background: url("../images/v435_1417.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 1353px;
    overflow: hidden;
  }
  .v435_1418 {
    width: 183px;
    height: 60px;
    background: url("../images/v435_1418.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v435_1420 {
    width: 200px;
    height: 50px;
    background: rgb(78, 80, 87);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 100px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff
  }
  .v435_1421 {
    width: 183px;
    height: 60px;
    background: url("../images/v435_1421.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v435_1422 {
    width: 183px;
    height: 60px;
    background: url("../images/v435_1422.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v435_1423 {
    width: 183px;
    height: 60px;
    background: url("../images/v435_1423.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v435_1424 {
    width: 183px;
    height: 60px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v435_1425 {
    width: 183px;
    height: 60px;
    background: url("../images/v435_1425.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v435_1426 {
    width: 183px;
    height: 60px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v435_1427 {
    width: 20px;
    height: 19px;
    background: url("../images/v435_1427.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 43px;
    transform: rotate(-180deg);
    overflow: hidden;
  }
  .v435_1428 {
    width: 20px;
    height: 19px;
    background: url("../images/v435_1428.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    transform: rotate(-180deg);
    overflow: hidden;
  }
  .v435_1429 {
    width: 20px;
    height: 19px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    transform: rotate(-180deg);
  }
  .v435_1430 {
    background: url("../images/v435_1430.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 1px;
    transform: rotate(-180deg);
    overflow: hidden;
  }
  .v435_1431 {
    width: 21px;
    height: 19px;
    background: rgba(19,7,46,1);
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 0px;
    transform: rotate(-180deg);
  }
  
  .v500_141 {
    width: 553px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 184px;
    left: 123px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v500_147 {
    width: 683px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 184px;
    left: 781px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v500_151 {
    width: 678px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 512px;
    left: 781px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v500_152 {
    width: 250px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 135px;
    left: 987px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v500_153 {
    width: 86px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 447px;
    left: 1050px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v500_154 {
    width: 350px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 136px;
    left: 180px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }

