* {
    box-sizing: border-box;
  }
  body {
    height: 100%;
    background: rgba(192,226,250,1);
  }
  .logo {
    top: 10px;
    left: 10px;
    transition: background-color 300ms;
}
button{
  width: 150px;
    height: 50px;
    background: rgb(78, 80, 87);
    opacity: 1;
    position: relative;
    top: 10px;
    left: 0 px;
    border-radius: 100px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff
}
 
  .v435_1173 {
    width: 100%;
    height: 782px;
    background: rgba(192,226,250,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v435_1174 {
    width: 100%;
    height: 650px;
    background: rgba(175,196,211,1);
    opacity: 1;
    position: absolute;
    top: 87px;
    left: 61px;
    overflow: hidden;
    
  }
  .v500_146 {
    width: 334px;
    height: 44px;
    background: rgba(138, 131, 201);
    opacity: 1;
    position: absolute;
    top: 128px;
    left: 162px;
    overflow: hidden;
  }
  .v500_142 {
    width: 334px;
    height: 44px;
    background: rgba(138, 131, 201);
    opacity: 1;
    position: absolute;
    top: 447px;
    left: 926px;
  }
  .v500_145 {
    width: 334px;
    height: 44px;
    background: rgb(138, 131, 201);
    opacity: 1;
    position: absolute;
    top: 128px;
    left: 926px;
  }
  .FundoNao {
    width: 242px;
    height: 44px;
    background: rgba(138, 131, 201);
    opacity: 1;
    position: absolute;
    top: 530px;
    left: 244px;
    overflow: hidden;
  }
  .CorNao {
    width: 233px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 529px;
    left: 244px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .TextoQuem {
    width: 553px;
    color: rgb(12, 12, 12);
    position: absolute;
    top: 184px;
    left: 123px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .TextoSomos {
    width: 683px;
    color: rgb(12, 12, 12);
    position: absolute;
    top: 184px;
    left: 781px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .TextoSobre {
    width: 678px;
    color: rgba(12,12,12);
    position: absolute;
    top: 512px;
    left: 781px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .TextoQuemSomos{
    width: 250px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 135px;
    left: 987px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .TextoSobree{
    width: 86px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 447px;
    left: 1050px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .TextoOque {
    width: 350px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 136px;
    left: 180px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }

