body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #FFF;
    background-color: rgb(194, 228, 253);
}

.logo {
    position: relative;
    top: 15px;
    left: 15px;
}

.menu {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.busca {
    background-color: rgba(128, 202, 255, 1);
    height: 20px;
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-color: rgba(13, 153, 255, 1);
    position: static;
}

.butaum {
    background-color: rgba(128, 202, 255, 1);
    border: none;
}

.campo {
    border: rgba(128, 202, 255, 1);
    border-radius: 10px;
    background-color: rgb(194, 228, 253);
    width: 300px;
    height: 25px;
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: 50%;
}
  
li {
  float: left;
  position: relative;
}
  
li a {
    display: block;
    color: rgba(13, 153, 255, 1);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.destaque {
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.perfil {
    position: relative;
    top: 15px;
    right: 15px;
    float: right;
}

.tabela {
    margin: 100px 15px 15px;
    border-radius: 10px;
}

.linha1 {
    background-color: rgba(128, 202, 255, 1);
}

table {
    border: 3px solid rgba(128, 202, 255, 1);
    border-radius: 10px;
}

table, th, td {
    border-collapse: collapse;
    color: black;
}

th, td {
    border-bottom: 2px solid rgba(128, 202, 255, 1);
    padding: 10px;
    text-align: left;
}