<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagens com Texto</title>
    <link rel="stylesheet" href="../public/style/telaesqueceuasenha.css">
</head>
<body>
    <div class="container">
        <div class="top-left">
            <img src="../public/assets/Clip path group (4).png"Imagem 1">
            <div class="text">voltar</div>
        </div>
        <div class="center">
            <img src="../public/assets/Group 1.png" alt="Imagem 2">
           
            <input type="text" id="inEmail" style="border-radius: 10px; padding:10px; border: none;width: 500px;" placeholder="Email">
            <p><input type="submit" id="inEnviar" style="background-color: rgb(255, 255, 255); border: none; border-radius: 10px;padding: 10px;">
            </p>
        </div>
    </div> 
</body>
</html>
