<!DOCTYPE html>
<html>
<head>
    <title>Sismocabo</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&amp;display=swap" rel="stylesheet">
    <link href="../public/style/pre-login.css" rel="stylesheet">
</head>
<body>  
        <a href=""><img src="../public/assets/fullLogo.png" style="width: 280px;" class="logo"></a>
        <div class="fundoMenor"></div>
        <div class="fundoNao"></div>
        <span class="NaoAoCancer">#NãoAoCâncer</span>
        <a href="#"><img src="../public/assets/dente.png" class="fotoDente"></a>
        <span class="texto01">Soluções para o monitoramento do câncer de boca</span>
        <span class="texto02">Desenvolvido com o intuito de solucionar a logística por trás do monitoramento do câncer de boca, para que medidas de prevenção possam ser tomadas de maneira precoce</span>
        <span class="soluçoes">soluções</span>
        <a href="/sobre" class="soluçoes" >soluções</a>
        <span class="sobre">sobre</span>
        <a href="/sobre" class="sobre" >sobre</a>
        <span class="QuemSomos">Quem somos</span>
        <a href="/sobre" class="QuemSomos" >Quem somos?</a>
        <div class="PosiçaoBotao">
                    <a href="/sobre" class="button"><button>Ler mais . . .</button></a>
                </div>
                </div>
        </div>
    <div class="PosiçaoBotao2">
                  <a href="/login" class="login"><button>Login. . .</button></a>       
    </div>
</body>
</html>
