!DOCTYPE html>
<html>
<head>
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&amp;display=swap" rel="stylesheet">
    <link href="../public/style/pre-login.css" rel="stylesheet">
</head>
<body>  
        <a href=""><img src="../public/assets/fullLogo.png" style="width: 280px;" class="logo"></a>
        <div class="fundoMenor"></div>
        <div class="fundoNao"></div>
        <span class="NaoAoCancer">#NãoAoCâncer</span>
        <span class="texto01">Soluções para o monitoramento do câncer de boca</span>
        <span class="texto02">Desenvolvido com o intuito de solucionar a logística por trás do monitoramento do câncer de boca, para que medidas de prevenção possam ser tomadas de maneira precoce</span>
        <span class="soluçoes">soluções</span>
        <a href="#" class="soluçoes" onclick="alert('Você clicou no botão soluções e sera redirecionado!')">soluções</a>
        <span class="sobre">sobre</span>
        <a href="#" class="sobre" onclick="alert('Você clicou no botão sobre e sera redirecionado!')">sobre</a>
        <span class="QuemSomos">Quem somos</span>
        <a href="#" class="QuemSomos" onclick="alert('Você clicou no botão Quem somos e sera redirecionado!')">Quem somos?</a>
        <div class="PosiçaoBotao">
                    <a href="" class="button" onclick="alert('Você clicou no botão Ler mais e sera redirecionado!')" ><button>Ler mais . . .</button></a>
                </div>
                </div>
        </div>
    <div class="PosiçaoBotao2">
                  <a href="/login" class="login"><button>Login. . .</button></a>       
    </div>
</body>
</html>
