<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&amp;display=swap" rel="stylesheet">
    <link href="../public/style/Sobre.css" rel="stylesheet">
</head>
<body>
        <a href="/pre-login"><img src="../public/assets/fullLogo.png" style="width: 250px;" class="logo" alt="logo sismocabo"></a>
        <div class="PosicaoBotao"></div>
        <div class="FundoGeral"></div>
        <div class="FundoOque"></div>
        <div class="FundoSobre"></div>
        <div class="FundoQuem"></div>
        <div class="fundoNao"></div>
        <a href="#"><img src="../public/assets/Campanha.png" style="width: 500px;" class="Campanha" alt="Campanha"></a>
        <span class="CorNao">#NãoAoCâncer</span>
                <a href="/login" class="button" ><button>Login. . .</button></a>
    </div>
    <span class="TextoQuem">Sismocabo é uma sigla denominada ao Sistema de Monitoramento do Câncer de Boca, Destinado exclusivamente aos Agentes Comunitários de Saúde, que coletam informações de pessoas que possam vir a desencadear o câncer de boca, afim de fornecer precocemente um diagnostico</span>
    <span class="TextoSomos">Somos uma plataforma que fornece aos Agentes Comunitários de Saúde uma maior acessibilidade aos dados cadastrais de cada paciente cadastrado, fornecendo meios de coleta e monitoramento, além de facilitar o acesso de cada ACS com seu respectivo grupo de controle, estando disponível não somente na forma mobile, mas também na web</span>
    <span class="TextoSobre">Esse Software foi produzido a partir de uma parceria entre  a Faculdade de Odontologia e o curso de Engenharia de Software, ambos pertencentes a Universidade Federal de Goiás , com o proposito de melhorar o monitoramento do grupo de risco envolto ao câncer de boca no Brasil.</span>
    <span class="TextoQuemSomos">Quem somos?</span>
    <span class="TextoSobree">Sobre</span>
    <span class="TextoOque">O que é sismocabo?</span>
</body>
</html>
