<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo Flexbox com Imagem</title>
    <link rel="stylesheet" href="../public/style/telalogin.css">
</head>
<body>
    <div class="container">
        <img src="../public/assets/Logo (2).png" alt="Descrição da Imagem" class="imagem">
        <img src="../public/assets/Titulo Login.png" alt="Descrição da Imagem" class="imagem2">
        <label for="cpfEmail" class="retangulo">Cpf/Email</label>
        <input type="text" id="cpfEmail" name="cpfEmail" style="border-radius: 10px; width: 300px; height: 20px; border: none;">
        <label for="senha" class="retangulo1">Senha</label>
        <input type="text" id="senha" name="senha" style="border-radius: 10px; width: 300px; height: 20px;border: none;">
        <a href="/dashboard"><img src="../public/assets/Group 633056.png" alt="" style="justify-content: center; padding: 30px; padding-bottom: 0px; max-width: 12vw;height: auto;" ></a>
    </div>
</body>
</html>
