<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo Flexbox com Imagem</title>
    <link rel="stylesheet" href="../public/style/telalogin.css">
</head>
<body>
    <div class="container">
        <img src="../public/assets/Logo (2).png" alt="Descrição da Imagem" class="imagem">
        <img src="../public/assets/Titulo Login.png" alt="Descrição da Imagem" class="imagem2">
        <form action="/login" method="post">
            <label class="retangulo">Cpf
                <input type="text"  name="cpf" style="border-radius: 10px; width: 300px; height: 20px; border: none;">
            </label>
            <label  class="retangulo1">Senha
                <input type="password"  name="senha" style="border-radius: 10px; width: 300px; height: 20px;border: none;">
            </label>
            <div class="container2"><button type="submit" ><img src="../public/assets/Group 633056.png" alt="" style="justify-content: center; padding: 30px; padding-bottom: 0px; max-width: 12vw;height: auto;" ></button></div>
           
        </form>

    </div>

</body>
</html>
